<?xml version="1.0"?>
<!--
/**
 * @category    Customer
 * @package     Quafzi_CustomerTypes
 * @author      Thomas Birke <tbirke@netextreme.de>
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Quafzi_CustomerTypes>
            <version>0.2.0</version>
        </Quafzi_CustomerTypes>
    </modules>
    <global>
        <helpers>
            <customertypes>
                <class>Quafzi_CustomerTypes_Helper</class>
            </customertypes>
        </helpers>
        <models>
            <customertypes>
                <class>Quafzi_CustomerTypes_Model</class>
            </customertypes>
        </models>
        <resources>
            <customertypes_setup>
                <setup>
                    <module>Quafzi_CustomerTypes</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customertypes_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <customertypes>
                <use>admin</use>
                <args>
                    <module>Quafzi_CustomerTypes</module>
                    <frontName>customertypes</frontName>
                </args>
            </customertypes>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_layout_block_create_after>
                <observers>
                    <customertypes_adminhtml_block_html_before>
                        <class>customertypes/observer</class>
                        <method>beforeBlockToHtml</method>
                    </customertypes_adminhtml_block_html_before>
                </observers>
            </core_layout_block_create_after>
            <eav_collection_abstract_load_before>
                <observers>
                    <customertypes_change_collection>
                        <class>customertypes/observer</class>
                        <method>beforeCustomerCollectionLoad</method>
                    </customertypes_change_collection>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
        <translate>
            <modules>
                <Quafzi_CustomerTypes>
                    <files>
                        <default>Quafzi_CustomerTypes.csv</default>
                    </files>
                </Quafzi_CustomerTypes>
            </modules>
        </translate>
    </adminhtml>
</config>
